In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
demand_dataset=pd.read_csv('dataset/hourly data(2000-2023).csv')
demand_dataset['timestamp']=pd.to_datetime(demand_dataset['timestamp'])
# demand_dataset.set_index('timestamp',inplace=True)
demand_dataset.head()

,timestamp,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,solar_generation,electricity_demand
0,2000-01-01 00:00:00,5,0,1,17.483571,0,0.853473,512.319382
1,2000-01-01 01:00:00,5,1,1,14.308678,0,4.869377,439.055673
2,2000-01-01 02:00:00,5,2,1,18.238443,0,4.997991,539.090652
3,2000-01-01 03:00:00,5,3,1,22.615149,0,2.738188,523.248968
4,2000-01-01 04:00:00,5,4,1,13.829233,0,7.694527,516.822822

In [21]:
weather_cleaned_dataset=pd.read_csv('dataset/weather_data_delhi_2000_2023_cleaned.csv')
weather_cleaned_dataset['timestamp'] = pd.to_datetime(weather_cleaned_dataset['timestamp'])

demand_dataset = pd.merge(demand_dataset, weather_cleaned_dataset[['timestamp', 'dwpt', 'wspd', 'wdir', 'prcp', 'rhum', 'pres']], on='timestamp', how='left')

demand_dataset.head(20)
# combined_dataset = pd.merge(demand_dataset, weather_cleaned_dataset, on='timestamp', how='inner')

# combined_dataset.head()

,timestamp,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,solar_generation,electricity_demand,dwpt,wspd,wdir,prcp,rhum,pres
0,2000-01-01 00:00:00,5,0,1,17.483571,0,0.853473,512.319382,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-01 01:00:00,5,1,1,14.308678,0,4.869377,439.055673,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-01 02:00:00,5,2,1,18.238443,0,4.997991,539.090652,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-01-01 03:00:00,5,3,1,22.615149,0,2.738188,523.248968,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-01 04:00:00,5,4,1,13.829233,0,7.694527,516.822822,NaN,NaN,NaN,NaN,NaN,NaN
5,2000-01-01 05:00:00,5,5,1,13.829315,0,7.235745,606.278463,NaN,NaN,NaN,NaN,NaN,NaN
6,2000-01-01 06:00:00,5,6,1,22.896064,0,83.314173,577.980704,NaN,NaN,NaN,NaN,NaN,NaN
7,2000-01-01 07:00:00,5,7,1,18.837174,0,191.181720,496.884904,NaN,NaN,NaN,NaN,NaN,NaN
8,2000-01-01 08:00:00,5,8,1,12.652628,0,292.984279,461.977229,NaN,NaN,NaN,NaN,NaN,NaN
9,2000-01-01 09:00:00,5,9,1,17.712800,0,150.792523,376.540583,NaN,NaN,NaN,NaN,NaN,NaN
10,2000-01-01 10:00:00,5,10,1,12.682912,0,163.043152,443.690675,NaN,NaN,NaN,NaN,NaN,NaN
11,2000-01-01 11:00:00,5,11,1,12.671351,0,96.820383,512.952432,NaN,NaN,NaN,NaN,NaN,NaN
12,2000-01-01 12:00:00,5,12,1,16.209811,0,289.029703,350.002758,NaN,NaN,NaN,NaN,NaN,NaN
13,2000-01-01 13:00:00,5,13,1,5.433599,0,218.522757,340.387439,NaN,NaN,NaN,NaN,NaN,NaN
14,2000-01-01 14:00:00,5,14,1,6.375411,0,282.086628,314.134954,NaN,NaN,NaN,NaN,NaN,NaN
15,2000-01-01 15:00:00,5,15,1,12.188562,0,81.161864,482.981777,NaN,NaN,NaN,NaN,NaN,NaN
16,2000-01-01 16:00:00,5,16,1,9.935844,0,143.724768,436.496677,NaN,NaN,NaN,NaN,NaN,NaN
17,2000-01-01 17:00:00,5,17,1,16.571237,0,182.128136,372.726301,NaN,NaN,NaN,NaN,NaN,NaN
18,2000-01-01 18:00:00,5,18,1,10.459880,0,108.786505,597.585748,NaN,NaN,NaN,NaN,NaN,NaN
19,2000-01-01 19:00:00,5,19,1,7.938481,0,2.932140,647.982649,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
demand_dataset.isna().sum()

timestamp                 0
day_of_week               0
hour_of_day               0
is_weekend                0
temperature               0
is_holiday                0
solar_generation          0
electricity_demand        0
dwpt                  40009
wspd                  40009
wdir                  40009
prcp                  40009
rhum                  40009
pres                  40009
dtype: int64

In [23]:
# Fill NaN values for specific columns with the average of the previous 3 hours
demand_dataset = demand_dataset.set_index('timestamp')
columns_to_fill = ['dwpt', 'wspd', 'wdir', 'prcp', 'rhum', 'pres']
demand_dataset[columns_to_fill] = demand_dataset[columns_to_fill].rolling(window='3H').mean().fillna(method='bfill')
demand_dataset = demand_dataset.reset_index()

# Display the first few rows to verify
demand_dataset.head(20)

C:\Users\ariel\AppData\Local\Temp\ipykernel_3256\1051983718.py:4: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  demand_dataset[columns_to_fill] = demand_dataset[columns_to_fill].rolling(window='3H').mean().fillna(method='bfill')
C:\Users\ariel\AppData\Local\Temp\ipykernel_3256\1051983718.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  demand_dataset[columns_to_fill] = demand_dataset[columns_to_fill].rolling(window='3H').mean().fillna(method='bfill')

,timestamp,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,solar_generation,electricity_demand,dwpt,wspd,wdir,prcp,rhum,pres
0,2000-01-01 00:00:00,5,0,1,17.483571,0,0.853473,512.319382,16.036364,51.8,20.0,0.0,50.045455,1010.0
1,2000-01-01 01:00:00,5,1,1,14.308678,0,4.869377,439.055673,16.036364,51.8,20.0,0.0,50.045455,1010.0
2,2000-01-01 02:00:00,5,2,1,18.238443,0,4.997991,539.090652,16.036364,51.8,20.0,0.0,50.045455,1010.0
3,2000-01-01 03:00:00,5,3,1,22.615149,0,2.738188,523.248968,16.036364,51.8,20.0,0.0,50.045455,1010.0
4,2000-01-01 04:00:00,5,4,1,13.829233,0,7.694527,516.822822,16.036364,51.8,20.0,0.0,50.045455,1010.0
5,2000-01-01 05:00:00,5,5,1,13.829315,0,7.235745,606.278463,16.036364,51.8,20.0,0.0,50.045455,1010.0
6,2000-01-01 06:00:00,5,6,1,22.896064,0,83.314173,577.980704,16.036364,51.8,20.0,0.0,50.045455,1010.0
7,2000-01-01 07:00:00,5,7,1,18.837174,0,191.181720,496.884904,16.036364,51.8,20.0,0.0,50.045455,1010.0
8,2000-01-01 08:00:00,5,8,1,12.652628,0,292.984279,461.977229,16.036364,51.8,20.0,0.0,50.045455,1010.0
9,2000-01-01 09:00:00,5,9,1,17.712800,0,150.792523,376.540583,16.036364,51.8,20.0,0.0,50.045455,1010.0
10,2000-01-01 10:00:00,5,10,1,12.682912,0,163.043152,443.690675,16.036364,51.8,20.0,0.0,50.045455,1010.0
11,2000-01-01 11:00:00,5,11,1,12.671351,0,96.820383,512.952432,16.036364,51.8,20.0,0.0,50.045455,1010.0
12,2000-01-01 12:00:00,5,12,1,16.209811,0,289.029703,350.002758,16.036364,51.8,20.0,0.0,50.045455,1010.0
13,2000-01-01 13:00:00,5,13,1,5.433599,0,218.522757,340.387439,16.036364,51.8,20.0,0.0,50.045455,1010.0
14,2000-01-01 14:00:00,5,14,1,6.375411,0,282.086628,314.134954,16.036364,51.8,20.0,0.0,50.045455,1010.0
15,2000-01-01 15:00:00,5,15,1,12.188562,0,81.161864,482.981777,16.036364,51.8,20.0,0.0,50.045455,1010.0
16,2000-01-01 16:00:00,5,16,1,9.935844,0,143.724768,436.496677,16.036364,51.8,20.0,0.0,50.045455,1010.0
17,2000-01-01 17:00:00,5,17,1,16.571237,0,182.128136,372.726301,16.036364,51.8,20.0,0.0,50.045455,1010.0
18,2000-01-01 18:00:00,5,18,1,10.459880,0,108.786505,597.585748,16.036364,51.8,20.0,0.0,50.045455,1010.0
19,2000-01-01 19:00:00,5,19,1,7.938481,0,2.932140,647.982649,16.036364,51.8,20.0,0.0,50.045455,1010.0

In [24]:
demand_dataset.isna().sum()

timestamp             0
day_of_week           0
hour_of_day           0
is_weekend            0
temperature           0
is_holiday            0
solar_generation      0
electricity_demand    0
dwpt                  0
wspd                  0
wdir                  0
prcp                  0
rhum                  0
pres                  0
dtype: int64

In [25]:
demand_dataset.drop(columns=['solar_generation'], inplace=True)

In [26]:
demand_dataset.head()

,timestamp,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,electricity_demand,dwpt,wspd,wdir,prcp,rhum,pres
0,2000-01-01 00:00:00,5,0,1,17.483571,0,512.319382,16.036364,51.8,20.0,0.0,50.045455,1010.0
1,2000-01-01 01:00:00,5,1,1,14.308678,0,439.055673,16.036364,51.8,20.0,0.0,50.045455,1010.0
2,2000-01-01 02:00:00,5,2,1,18.238443,0,539.090652,16.036364,51.8,20.0,0.0,50.045455,1010.0
3,2000-01-01 03:00:00,5,3,1,22.615149,0,523.248968,16.036364,51.8,20.0,0.0,50.045455,1010.0
4,2000-01-01 04:00:00,5,4,1,13.829233,0,516.822822,16.036364,51.8,20.0,0.0,50.045455,1010.0

In [27]:
demand_dataset.columns

Index(['timestamp', 'day_of_week', 'hour_of_day', 'is_weekend', 'temperature',
       'is_holiday', 'electricity_demand', 'dwpt', 'wspd', 'wdir', 'prcp',
       'rhum', 'pres'],
      dtype='object')

In [28]:
'''
The electricity demand forecasting will employ three models i.e. CNN, LSTM and ANN
Group I data for CNN => ['temperature','dwpt','wspd','wdir','prcp','rhum','pres']
Group II data fro LSTM => ['day_of_week','hour_of_day','season','month','output from CNN']
Group III data for ANN => ['is_holiday','is_weekend','output from LSTM']

combining the data of the 3 models the forecasting of the next 24 hours of electricity demand will be done
'''

"\nThe electricity demand forecasting will employ three models i.e. CNN, LSTM and ANN\nGroup I data for CNN => ['temperature','dwpt','wspd','wdir','prcp','rhum','pres']\nGroup II data fro LSTM => ['day_of_week','hour_of_day','season','month','output from CNN']\nGroup III data for ANN => ['is_holiday','is_weekend','output from LSTM']\n\ncombining the data of the 3 models the forecasting of the next 24 hours of electricity demand will be done\n"

In [29]:
demand_dataset['season'] = demand_dataset['timestamp'].dt.month % 12 // 3 + 1

demand_dataset['month'] = demand_dataset['timestamp'].dt.month

demand_dataset.head()

,timestamp,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,electricity_demand,dwpt,wspd,wdir,prcp,rhum,pres,season,month
0,2000-01-01 00:00:00,5,0,1,17.483571,0,512.319382,16.036364,51.8,20.0,0.0,50.045455,1010.0,1,1
1,2000-01-01 01:00:00,5,1,1,14.308678,0,439.055673,16.036364,51.8,20.0,0.0,50.045455,1010.0,1,1
2,2000-01-01 02:00:00,5,2,1,18.238443,0,539.090652,16.036364,51.8,20.0,0.0,50.045455,1010.0,1,1
3,2000-01-01 03:00:00,5,3,1,22.615149,0,523.248968,16.036364,51.8,20.0,0.0,50.045455,1010.0,1,1
4,2000-01-01 04:00:00,5,4,1,13.829233,0,516.822822,16.036364,51.8,20.0,0.0,50.045455,1010.0,1,1

In [30]:
hourly_population=pd.read_csv('dataset/hourly_population.csv')
hourly_population['year']=pd.to_datetime(hourly_population['year'])

hourly_population.rename(columns={'year':'timestamp'},inplace=True)

hourly_population.head()

            timestamp    population
0 2000-01-01 00:00:00  1.569190e+07
1 2000-01-01 01:00:00  1.569198e+07
2 2000-01-01 02:00:00  1.569206e+07
3 2000-01-01 03:00:00  1.569215e+07
4 2000-01-01 04:00:00  1.569223e+07

In [31]:
hourly_population.isna().sum()

timestamp     0
population    0
dtype: int64

In [32]:
demand_dataset = pd.merge(demand_dataset, hourly_population, on='timestamp', how='left')

demand_dataset.head()

,timestamp,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,electricity_demand,dwpt,wspd,wdir,prcp,rhum,pres,season,month,population
0,2000-01-01 00:00:00,5,0,1,17.483571,0,512.319382,16.036364,51.8,20.0,0.0,50.045455,1010.0,1,1,1.569190e+07
1,2000-01-01 01:00:00,5,1,1,14.308678,0,439.055673,16.036364,51.8,20.0,0.0,50.045455,1010.0,1,1,1.569198e+07
2,2000-01-01 02:00:00,5,2,1,18.238443,0,539.090652,16.036364,51.8,20.0,0.0,50.045455,1010.0,1,1,1.569206e+07
3,2000-01-01 03:00:00,5,3,1,22.615149,0,523.248968,16.036364,51.8,20.0,0.0,50.045455,1010.0,1,1,1.569215e+07
4,2000-01-01 04:00:00,5,4,1,13.829233,0,516.822822,16.036364,51.8,20.0,0.0,50.045455,1010.0,1,1,1.569223e+07

In [33]:
demand_dataset.isna().sum()

timestamp             0
day_of_week           0
hour_of_day           0
is_weekend            0
temperature           0
is_holiday            0
electricity_demand    0
dwpt                  0
wspd                  0
wdir                  0
prcp                  0
rhum                  0
pres                  0
season                0
month                 0
population            0
dtype: int64

In [34]:
demand_dataset.dtypes

timestamp             datetime64[ns]
day_of_week                    int64
hour_of_day                    int64
is_weekend                     int64
temperature                  float64
is_holiday                     int64
electricity_demand           float64
dwpt                         float64
wspd                         float64
wdir                         float64
prcp                         float64
rhum                         float64
pres                         float64
season                         int32
month                          int32
population                   float64
dtype: object

In [35]:
demand_dataset.to_csv('dataset/cleaned_combined_generation_dataset.csv', index=False)